<div class="page">

  <!-- HEADER -->
  <div class="list-header">
    <div>
      <h2>📋 Liste des Suggestions</h2>
      <p>Découvrez, soutenez et suivez les idées </p>
    </div>

    <button class="btn add-btn" routerLink="/suggestions/add">
      ➕ Nouvelle suggestion
    </button>
  </div>

  <!-- SEARCH -->
  <input type="text" class="search" [(ngModel)]="searchText" placeholder="🔍 Rechercher par titre ou catégorie" />

  <!-- SUGGESTIONS GRID -->
  <div class="suggestions">
    <div class="card" *ngFor="let s of filteredSuggestions()">

      <div class="card-header">
        <h3>{{ s.title }}</h3>
        <span class="status" [ngClass]="s.status">
          {{ s.status }}
        </span>
      </div>

      <p class="description">{{ s.description }}</p>

      <div class="info">
        <span>🏷 {{ s.category }}</span>
        <span>📅 {{ s.date | date:'dd/MM/yyyy' }}</span>
        <span>👍 {{ s.nbLikes }}</span>
      </div>

      <div class="actions" *ngIf="s.status !== 'refusee'">
        <button class="like" (click)="likeSuggestion(s)">👍 Like</button>
        <button class="fav" (click)="addToFavorites(s)">⭐ Favoris</button>
        <button class="details" [routerLink]="['/suggestions', s.id]">
          📄 Détails
        </button>
        <button class="delete" (click)="deleteSuggestion(s.id)">
          ❌ Supprimer
        </button>
      </div>

    </div>
  </div>

  <!-- FAVORITES -->
  <div class="favorites" *ngIf="favorites.length > 0">
    <h3>⭐ Suggestions favorites</h3>
    <ul>
      <li *ngFor="let f of favorites">{{ f.title }}</li>
    </ul>
  </div>

</div>