<h2 class="title">Liste des Suggestions</h2>

<input
  type="text"
  class="search"
  [(ngModel)]="searchText"
  placeholder="🔍 Rechercher par titre ou catégorie"
/>

<div class="suggestions">

  <div class="card" *ngFor="let s of filteredSuggestions()">
    <div class="card-header">
      <h3>{{ s.title }}</h3>
      <span class="status" [ngClass]="s.status">
        {{ s.status }}
      </span>
    </div>

    <p class="description">{{ s.description }}</p>

    <div class="info">
      <span><b>Catégorie :</b> {{ s.category }}</span>
      <span><b>Date :</b> {{ s.date | date:'dd/MM/yyyy' }}</span>
      <span><b>👍 Likes :</b> {{ s.nbLikes }}</span>
    </div>

    <div class="actions" *ngIf="s.status !== 'refusee'">
      <button class="like" (click)="likeSuggestion(s)">👍 Like</button>
      <button class="fav" (click)="addToFavorites(s)">⭐ Favoris</button>
    </div>
  </div>

</div>

<h3 class="fav-title">⭐ Favoris</h3>
<ul class="fav-list">
  <li *ngFor="let f of favorites">
    {{ f.title }}
  </li>
</ul>
